header(class="page-header")
  div(class="page-header__container container")
    div(class="page-header__top")
      //active
      div(class="page-header__logo logo logo--header __js")
        a(class="logo__link" href="index.html")
          svg(width="120" height="120")
            use(xlink:href="img/sprites/sprite-multi.svg#icon-logo")

      div(class="page-header__right")
        div(class="page-header__buttons")
          //button--white-50
          a(class="page-header__button button button--big button--smart __js" href="#")
            | smart пропозиції

          //button--white-50
          a(class="page-header__button button button--big button--book-now __js" href="#")
            | book now

        div(class="page-header__links")
          button(class="page-header__burger burger __js")
            span(class="visually-hidden") Open/Close menu
            //active
            <div class="burger__left __js"></div>
            //active
            <div class="burger__right __js"></div>

          div(class="page-header__social __js")
            - social = ['phone', 'percent'];
            - classSocialDirection = 'vertical';
            include ../blocks/social.pug
  //active
  div(class="page-header__menu __js")
    include ../blocks/menu.pug
