header(class="page-header")
  div(class="page-header__container container")
    div(class="page-header__top")
      //active
      div(class="page-header__logo logo logo--header __js logo--" + pageName)
        a(class="logo__link" href="index.html")
          svg(width="120" height="120")
            use(xlink:href="img/sprites/sprite-multi.svg#icon-logo")

      div(class="page-header__right")
        div(class="page-header__buttons")
          //active
          a(class="page-header__button button __js page-header__button--" + pageName href="#")
            span smart пропозиції

          //active
          a(class="page-header__button button __js page-header__button--" + pageName href="#")
            span book now

        div(class="page-header__links")
          button(class="page-header__burger burger __js")
            span(class="visually-hidden") Open/Close menu
            //active
            div(class="burger__left __js")
            //active
            div(class="burger__right __js")

          div(class="page-header__social __js page-header__social--" + pageName)
            - social = ['phone', 'offer'];
            - socialDirection = 'vertical';
            include ../blocks/social.pug
  //active
  div(class="page-header__menu __js")
    include ../blocks/menu.pug
