include ../mixins/slide.pug
include ../mixins/slider.pug
include ../mixins/home.pug
include ../mixins/promo.pug
include ../mixins/food.pug
include ../mixins/worktime.pug
include ../mixins/navigation.pug
include ../mixins/event.pug
