- let titlePage = 'City Inn';

// page name for modificate bolocks of sections
- let pageName = 'home';

// logo
- let headerLogoClass = 'logo--black';

// lang
- const curLang = "ua";
- const anotherLang = 'en';

// social block
- let social = ['lang', 'map-pin', 'instagram', 'facebook', 'phone', 'percent'];
- let socialDirection = 'vertical';
- let showSocialMobile = 'hide';

// home mixins
- let attr = {};

// menu
-
  const navHeader = [
    {
      title: 'Menu default background',
      images: {
        webp: {
          mobile: 'img/menu-bg-0-mobile.webp',
          desktop: 'img/menu-bg-0-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-0-mobile.jpg',
          desktop: 'img/menu-bg-0-desktop.jpg',
        }
      },
    },
    {
      title: 'про нас',
      link: 'about.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-1-mobile.webp',
          desktop: 'img/menu-bg-1-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-1-mobile.jpg',
          desktop: 'img/menu-bg-1-desktop.jpg',
        }
      },
    },
    {
      title: 'lobby bar',
      link: 'lobby.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-2-mobile.webp',
          desktop: 'img/menu-bg-2-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-2-mobile.jpg',
          desktop: 'img/menu-bg-2-desktop.jpg',
        }
      },
    },
    {
      title: 'restaurant',
      link: 'restaurant.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-3-mobile.webp',
          desktop: 'img/menu-bg-3-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-3-mobile.jpg',
          desktop: 'img/menu-bg-3-desktop.jpg',
        }
      },
    },
    {
      title: 'conference service',
      link: 'conference-service.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-4-mobile.webp',
          desktop: 'img/menu-bg-4-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-4-mobile.jpg',
          desktop: 'img/menu-bg-4-desktop.jpg',
        }
      },
    },
    {
      title: 'smart номера',
      link: 'smart.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-1-mobile.webp',
          desktop: 'img/menu-bg-1-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-1-mobile.jpg',
          desktop: 'img/menu-bg-1-desktop.jpg',
        }
      },
    },
    {
      title: 'group request',
      link: 'group.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-2-mobile.webp',
          desktop: 'img/menu-bg-2-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-2-mobile.jpg',
          desktop: 'img/menu-bg-2-desktop.jpg',
        }
      },
    },
    {
      title: 'star fit',
      link: 'starfit.html',
      images: {
        webp: {
          mobile: 'img/menu-bg-3-mobile.webp',
          desktop: 'img/menu-bg-3-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-3-mobile.jpg',
          desktop: 'img/menu-bg-3-desktop.jpg',
        }
      },
    },
    {
      title: 'контакти',
      link: 'home.html#contacts',
      images: {
        webp: {
          mobile: 'img/menu-bg-4-mobile.webp',
          desktop: 'img/menu-bg-4-desktop.webp',
        },
        jpg: {
          mobile: 'img/menu-bg-4-mobile.jpg',
          desktop: 'img/menu-bg-4-desktop.jpg',
        }
      },
    },
  ];
