- const curLang = "ua";
- const anotherLang = 'en';

- let social = ['lang', 'map-pin', 'instagram', 'facebook', 'phone', 'percent'];
- let classSocialDirection = 'vertical';
- let classSocialColor = 'white';

-
  const menuDefaultImage  = {
    title: 'Menu default background',
    images: {
      webp: [
        'img/menu-bg-desktop.webp',
        'img/menu-bg-mobile.webp'
      ],
      default: [
        'img/menu-bg-desktop.jpg',
        'img/menu-bg-mobile.jpg'
      ]
    },
    gradient: [
      `rgba(0, 0, 0, 0.2)`,
      `rgba(0, 0, 0, 0.2)`
    ]
  };

-
  const navHeader = [
    menuDefaultImage,
    {
      title: 'про нас',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-1.webp',
          //'img/menu-bg-mobile-1.webp'
        ],
        default: [
          'img/menu-bg-desktop-1.jpg',
          //'img/menu-bg-mobile-1.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.7)`,
        `rgba(0, 0, 0, 0.7)`
      ]
    },
    {
      title: 'lobby bar',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-2.webp',
          //'img/menu-bg-mobile-2.webp'
        ],
        default: [
          'img/menu-bg-desktop-2.jpg',
          //'img/menu-bg-mobile-2.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.4)`,
        `rgba(0, 0, 0, 0.4)`
      ]
    },
    {
      title: 'restaurant',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-3.webp',
          //'img/menu-bg-mobile-3.webp'
        ],
        default: [
          'img/menu-bg-desktop-3.jpg',
          //'img/menu-bg-mobile-3.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.4)`,
        `rgba(0, 0, 0, 0.4)`
      ]
    },
    {
      title: 'conferenceservice',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-4.webp',
          //'img/menu-bg-mobile-4.webp'
        ],
        default: [
          'img/menu-bg-desktop-4.jpg',
          //'img/menu-bg-mobile-4.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.5)`,
        `rgba(0, 0, 0, 0.5)`
      ]
    },
    {
      title: 'smart пропозиція',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-2.webp',
          //'img/menu-bg-mobile-2.webp'
        ],
        default: [
          'img/menu-bg-desktop-2.jpg',
          //'img/menu-bg-mobile-2.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.5)`,
        `rgba(0, 0, 0, 0.5)`
      ]
    },
    {
      title: 'group request',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-1.webp',
          //'img/menu-bg-mobile-1.webp'
        ],
        default: [
          'img/menu-bg-desktop-1.jpg',
          //'img/menu-bg-mobile-1.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.7)`,
        `rgba(0, 0, 0, 0.7)`
      ]
    },
    {
      title: 'star fit',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-2.webp',
          //'img/menu-bg-mobile-2.webp'
        ],
        default: [
          'img/menu-bg-desktop-2.jpg',
          //'img/menu-bg-mobile-2.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.4)`,
        `rgba(0, 0, 0, 0.4)`
      ]
    },
    {
      title: 'контакти',
      link: '#',
      images: {
        webp: [
          'img/menu-bg-desktop-3.webp',
          //'img/menu-bg-mobile-3.webp'
        ],
        default: [
          'img/menu-bg-desktop-3.jpg',
          //'img/menu-bg-mobile-3.jpg'
        ]
      },
      gradient: [
        `rgba(0, 0, 0, 0.5)`,
        `rgba(0, 0, 0, 0.5)`
      ]
    },
  ];
