-
  const locations = {
    title: `
      локації
    `,
    images: ['locations-1', 'locations-2', 'approach-1'],
    texts: [
      {
        title: 'SMART конференц-зал',
        topText: 'Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. Nunc velit dui, tristique sed enim nec, fringilla interdum eros. In hac habitasse platea dictumst. Nunc convallis felis ac fermentum volutpat. Phasellus at scelerisque est. In sit amet pulvinar mi. Pellentesque ut condimentum ante, et gravida mi. In erat felis, laoreet nec porta eu, vehicula nec diam. ',
        bottomText: '',
        button: {
          text: 'VIEW MORE',
          link: '#',
        }
      },
      {
        title: 'бенкет',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: '',
        button: {
          text: 'VIEW MORE',
          link: '#',
        }
      },
      {
        title: 'корпоратив',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: '',
        button: {
          text: 'VIEW MORE',
          link: '#',
        }
      },
    ],
  };

+event(locations)
