include includes/variables.pug

- titlePage = 'About';
- whiteHeaderButtonsClass = 'button--white-50';
- headerLogoClass = 'logo--black';

include includes/mixins.pug

include layout/head.pug

body(style="--color-button:  var(--light-yellow); --border-color-button:  var(--light-yellow); --color-page: var(--light-yellow); background-color: var(--green);")
  include layout/header.pug

  main(class="page-main")
    include pages/about/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




