include includes/variables.pug

- titlePage = 'About';
- pageName = 'about';
- headerLogoClass = 'logo--black';

include includes/mixins.pug

include layout/head.pug

body.page.page--about
  include layout/header.pug

  main(class="page-main")
    include pages/about/promo.pug

    include pages/about/mission.pug
    include pages/about/home-why.pug
    include pages/about/food-advantages.pug
    include pages/about/event-around.pug
    include pages/about/event-attraction.pug

    include blocks/contacts.pug

  include layout/footer.pug




