include includes/variables.pug

- titlePage = 'Conference hall';
- pageName = 'conference';

include includes/mixins.pug

include layout/head.pug

body(class="page page--" + pageName)
  include layout/header.pug

  main(class="page-main")
    include pages/conference/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




