include includes/variables.pug

- titlePage = 'Conference service';
- pageName = 'conference-service';

include includes/mixins.pug

include layout/head.pug

body
  include layout/header.pug

  main(class="page-main page-main--" + pageName)
    include pages/conference-service/promo.pug
    include pages/conference-service/food-approach-conference.pug
    include pages/conference-service/event-locations.pug
    include pages/conference-service/types.pug
    include blocks/contacts.pug

  include layout/footer.pug




