include includes/variables.pug

- titlePage = 'Conference hall';
- pageName = 'conference';

include includes/mixins.pug

include layout/head.pug

body(class="page page--" + pageName)
  include layout/header.pug

  main(class="page-main")
    include pages/conference/promo.pug
    include pages/conference/info.pug
    include pages/conference/seating.pug
    include pages/conference/prices.pug

    include pages/conference/food-why.pug
    include pages/conference/parking.pug
    include pages/conference/experience.pug
    include blocks/team.pug
    include blocks/contacts.pug

    include layout/footer.pug




