include includes/variables.pug

- titlePage = 'smart конференц-зал';
- whiteHeaderButtonsClass = 'button--white-50';
- headerLogoClass = 'logo--yellow';
- showSocialMobile = 'show';

include includes/mixins.pug

include layout/head.pug

body(style="--color-button:  var(--white); --border-color-button:  var(--white); --color-page: var(--white); background-color: var(--beige);")
  include layout/header.pug

  main(class="page-main")
    include pages/conference-service/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




