include includes/variables.pug

- titlePage = 'Group request';
- pageName = 'group';

include includes/mixins.pug

include layout/head.pug

body(class="page page--" + pageName)
  include layout/header.pug

  main(class="page-main")
    include pages/group/promo.pug
    include pages/group/food-approach-group.pug
    include pages/group/event-smart-rooms.pug
    include pages/group/food-supply.pug
    include pages/group/event-halls.pug
    include pages/group/gym-group.pug
    include blocks/team.pug
    include blocks/contacts.pug

  include layout/footer.pug




