include includes/variables.pug

- titlePage = 'Home Page';
- pageName = 'home';

include includes/mixins.pug

include layout/head.pug

body
  include layout/header.pug

  main(class="page-main")
    include pages/home/promo.pug
    include pages/home/smart.pug
    include pages/home/lobby.pug
    include pages/home/conference.pug
    include pages/home/group.pug
    include pages/home/restaurant.pug
    include pages/home/starfit.pug
    include pages/home/about.pug
    include blocks/contacts.pug

  include layout/footer.pug




