- var title = "Main Page";

include includes/head.pug

body
  include includes/header.pug

  main(class="page-main")
    h1(class="visually-hidden") #{title}

    include includes/main/promo.pug

  include includes/footer.pug




