include includes/variables.pug
include includes/mixins.pug

- title = 'Index Page';

include layout/head.pug

body
  include layout/header.pug

  main(class="page-main")
    include pages/home/promo.pug

    ul(style="position: fixed; top: 50%; left: 50%; z-index: 90; list-style: none; display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 90vw; min-height: 90vh; padding: 1rem 2rem 1rem; font-size: 24px; font-weight: 700; color: black; background: rgba(255, 255, 255, 0.8); border-radius: 5px; transform: translate(-50%, -50%);")
      li(style="padding: 0.5rem; color: orange")
        a(href="home.html" style="color: inherit") Home
      li(style="padding: 0.5rem; color: orange")
        a(href="restaurant.html" style="color: inherit") Restaurant

      li(style="padding: 0.5rem; color: orange")
        a(href="lobby.html" style="color: inherit") Lobby bar

      li(style="padding: 0.5rem; color: orange")
        a(href="about.html" style="color: inherit") About

      li(style="padding: 0.5rem")
        a(href="starfit.html" style="color: inherit") Starfit

      li(style="padding: 0.5rem; color: orange")
        a(href="smart.html" style="color: inherit") Smart

      li(style="padding: 0.5rem")
        a(href="conference.html" style="color: inherit") Conference

      li(style="padding: 0.5rem")
        a(href="conference-service.html" style="color: inherit") Conference service

      li(style="padding: 0.5rem")
        a(href="group.html" style="color: inherit") Group

      li(style="padding: 0.5rem")
        a(href="rooms.html" style="color: inherit") Rooms

      li(style="padding: 0.5rem")
        a(href="standart.html" style="color: inherit") Standart


  include layout/footer.pug



