- var title = "Main Page";

include layout/head.pug

body
  include layout/header.pug

  main(class="page-main")
    h1(class="visually-hidden") #{title}

    include blocks/index/promo.pug
    include blocks/index/smart.pug
    include blocks/index/conference.pug
    include blocks/index/group.pug
    include blocks/index/star.pug
    include blocks/index/about.pug

  include layout/footer.pug

  include includes/scripts.pug




