include includes/variables.pug

- titlePage = 'lobby bar';
- pageName = 'lobby';;
- headerLogoClass = 'logo--yellow';

include includes/mixins.pug

include layout/head.pug

body.page.page--lobby
  include layout/header.pug

  main(class="page-main")
    include pages/lobby/promo.pug
    include pages/lobby/doings.pug
    include pages/lobby/bar.pug
    include pages/lobby/event-kitchen.pug
    include pages/lobby/food-breakfast.pug
    include blocks/contacts.pug

  include layout/footer.pug




