include includes/variables.pug

- titlePage = 'lobby bar';
- whiteHeaderButtonsClass = 'button--white-50';
- headerLogoClass = 'logo--yellow';

include includes/mixins.pug

include layout/head.pug

body(style="--color-button:  var(--light-yellow); --border-color-button:  var(--light-yellow); --color-page: var(--light-yellow); background-color: var(--gray);")
  include layout/header.pug

  main(class="page-main")
    include pages/lobby/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




