include includes/variables.pug
include includes/mixins.pug

- titlePage = 'lobby bar';
- whiteHeaderButtonsClass = 'button--white-50';
- headerLogoClass = 'logo--yellow';

include layout/head.pug

body(style="--color-page: var(--color-lobby); background-color: var(--gray);")
  include layout/header.pug

  main(class="page-main")
    include pages/lobby/promo.pug
    include pages/contacts.pug

  include layout/footer.pug




