include includes/variables.pug

- titlePage = 'ресторан Святослав';
- pageName = 'restaurant';;
- headerLogoClass = 'logo--yellow';

include includes/mixins.pug

include layout/head.pug

body(style="--color-button:  var(--light-yellow); --border-color-button:  var(--light-yellow); --color-page: var(--light-yellow); --background-color-page: var(--dark-green);")
  include layout/header.pug

  main(class="page-main")
    include pages/restaurant/promo.pug
    include pages/restaurant/cosy.pug
    include pages/restaurant/food.pug
    include pages/restaurant/banquet.pug
    include pages/restaurant/event.pug
    include blocks/contacts.pug

  include layout/footer.pug




