include includes/variables.pug

- titlePage = 'Rooms';
- pageName = 'rooms';

include includes/mixins.pug

include layout/head.pug

body(class="page page--" + pageName)
  include layout/header.pug

  main(class="page-main")
    include pages/rooms/promo.pug

    include pages/rooms/rooms.pug
    //- include blocks/contacts.pug

  include layout/footer.pug




