include includes/variables.pug

- titlePage = 'Rooms';
- pageName = 'rooms';;
- headerLogoClass = 'logo--yellow';
- showSocialMobile = 'show';

include includes/mixins.pug

include layout/head.pug

body.page.page--rooms
  include layout/header.pug

  main(class="page-main")
    include pages/rooms/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




