include includes/variables.pug

- titlePage = 'smart пропозиції';
- pageName = 'smart';

include includes/mixins.pug

include layout/head.pug

body.page.page--smart
  include layout/header.pug

  main(class="page-main page-main--" + pageName)
    include pages/smart/promo.pug
    include pages/smart/cards.pug
    //- include pages/contacts.pug

  include layout/footer.pug




