include includes/variables.pug

- titlePage = 'standart double';
- pageName = 'standart';;
- headerLogoClass = 'logo--yellow';
- showSocialMobile = 'show';

include includes/mixins.pug

include layout/head.pug

body.page.page--standart
  include layout/header.pug

  main(class="page-main")
    include pages/standart/promo.pug
    include pages/standart/info.pug
    //- include blocks/contacts.pug

  include layout/footer.pug




