include includes/variables.pug

- titlePage = 'Starfit';
- pageName = 'starfit';;
- headerLogoClass = 'logo--black';
- showSocialMobile = 'show';

include includes/mixins.pug

include layout/head.pug

body.page.page--starfit
  include layout/header.pug

  main(class="page-main")
    include pages/starfit/promo.pug
    include blocks/contacts.pug

  include layout/footer.pug




