.event {
  @extend %w100;

  &--around,
  &--attraction {
    --color-page: var(--white);
    --color-button: var(--white);
    --border-color-button: var(--white);
  }

  @media screen and (min-width: $desktop) {
    padding: 140px 0 168px;

    overflow: visible;

    &--lobby {
      padding: 98px 0;
    }

    &--around,
    &--attraction {
      --color-page: var(--light-yellow);
      --color-button: var(--light-yellow);
      --border-color-button: var(--light-yellow);

      padding: 0;
    }
  }

  &__container {
    @extend .cosy__container;
  }

  &__top {
    @extend .cosy__top;

    @media screen and (min-width: $tablet) {

      &--lobby,
      &--attraction {
        order: 2;
      }
    }

    @media screen and (min-width: $desktop) {

      &--lobby,
      &--attraction {
        order: 1;
      }

      &--around {
        order: 2;
      }
    }
  }

  &__title {
    @extend .cosy__title;

    margin-top: 40px;

    &--mobile {
      @extend .cosy__title--mobile;
    }

    &--desktop {
      @extend .cosy__title--desktop;
    }

    &--around {
      margin-top: 33px;

      @include font(64, 58, 300);
    }

    &--attraction {
      margin-top: 28px;
    }

    @media screen and (min-width: $tablet) {
      &--desktop {
        margin-top: 0;
        margin-right: calc((100% + 117px) - 538px);
        margin-bottom: 87px;
        margin-left: -117px;
      }

      &--lobby {
        margin-top: 0;
        margin-right: calc((100% + 9px) - 538px);
        margin-bottom: 47px;
        margin-left: -9px;

        opacity: 0.6;

        br {
          display: none;
        }
      }

      &--around,
      &--attraction {
        --color-page: var(--light-yellow);

        min-width: 617px;

        margin-top: 0;

        opacity: 1;
      }

      &--around {
        margin-right: calc((100% + 243px) - 617px);
        margin-bottom: -48px;
        margin-left: -243px;

        @include font(96, 86, 300);
      }

      &--attraction {
        margin-right: calc(100% - 617px);
        margin-bottom: 40px;
        margin-left: 0;
      }
    }

    @media screen and (min-width: $desktop) {
      &--desktop {
        margin-top: -70px;
        margin-right: calc((100% + 184px) - 720px);
        margin-bottom: 275px;
        margin-left: -184px;
      }

      &--lobby {
        min-width: 784px;

        margin-top: 0;
        margin-right: calc((100% + 106px) - 784px);
        margin-bottom: 235px;
        margin-left: -106px;

        opacity: 0.8;
      }

      &--around,
      &--attraction {
        opacity: 1;
      }

      &--around {
        min-width: 878px;

        margin-top: 0;
        margin-right: calc(100% - 878px);
        margin-bottom: 100px;
        margin-left: 0;

        @include font(144, 140, 300);
      }

      &--attraction {
        min-width: 961px;

        margin-top: 0;
        margin-right: calc((100% + 318px) - 961px);
        margin-bottom: 81px;
        margin-left: -318px;
      }
    }
  }

  &__slider-container {
    position: relative;

    @extend .cosy__slider;

    &--around,
    &--attraction {
      &::before {
        display: none;
      }
    }

    @media screen and (min-width: $tablet) {

      &--lobby,
      &--attraction {
        margin: 0 calc(100% - 50vw) 0 0;
      }
    }

    @media screen and (min-width: $desktop) {
      height: auto;
      min-height: 840px;

      &--lobby,
      &--attraction {
        margin: 0 0 0 calc(100% - 50vw);
      }

      &--around {
        margin: 0 calc(100% - 50vw) 0 0;

        overflow: hidden;
      }

      &--attraction {
        overflow: hidden;
      }
    }
  }

  &__slider {
    width: 100%;

    @media screen and (min-width: $desktop) {
      &--images {
        overflow: visible;
      }

      &--text {
        flex-grow: 1;
      }
    }
  }

  &__slider-wrapper {
    align-items: stretch;
  }

  &__slide {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    height: auto;

    box-sizing: border-box;

    @media screen and (min-width: $desktop) {
      --width-img: 360px;
      --height-img: 420px;

      &--lobby {
        --height-img: 360px;
      }

      &--images:not(.event__slide--around):not(.event__slide--attraction) {
        &.swiper-slide-active {
          .event__img {
            width: 100%;
            height: 100%;

            transition: height 0.3s, width 0.3s;
          }
        }

        &.swiper-slide-next {
          .event__img {
            width: var(--width-img);
            height: var(--height-img);

            transition: height 0.3s, width 0.3s;
          }

          &~.swiper-slide {
            opacity: 0;

            pointer-events: none;
          }
        }
      }

      &--text {
        display: flex;

        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  &__picture {
    @extend %picture;
  }

  &__img {
    @extend %img;
  }

  &__bottom {
    @extend .cosy__bottom;

    padding-top: 95px;

    &--lobby {
      padding-top: 40px;
    }

    &--around {
      padding-top: 46px;
    }

    &--attraction {
      padding-top: 71px;
    }

    @media screen and (min-width: $tablet) {
      padding: 53px 0 40px 39px;

      &--lobby {
        order: 1;

        padding: 47px 31px 38px 0;
      }

      &--around {
        padding: 16px 0 38px 41px;
      }

      &--attraction {
        order: 1;

        padding: 13px 36px 38px 0;
      }
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 0 87px;

      &--lobby {
        order: 2;

        padding: 35px 78px 40px 42px;
      }

      &--around {
        order: 1;

        position: relative;

        padding: 31px 80px 80px 0;
      }

      &--attraction {
        order: 2;

        padding: 44px 25px 136px 119px;
      }
    }
  }

  &__content {
    flex-grow: 1;

    @extend %w100;
  }

  &__subtitle {
    @extend %w100;

    margin-bottom: 20px;

    @include font(24, 29, 700);

    text-transform: uppercase;

    color: var(--color-page, #ffffff);

    @media screen and (min-width: $tablet) {
      margin-bottom: 44px;

      @include font(30, 37, 700);
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__text {
    @extend .cosy__text;

    color: var(--color-page, #ffffff);

    &--top {
      @extend .cosy__text--top;
    }

    &--bottom {
      @extend .cosy__text--bottom;
    }
  }

  &__button {
    min-width: 100%;

    margin-top: 40px;

    @media screen and (min-width: $desktop) {
      min-width: calc(200 / 554 * 100%);

      margin-top: 67px;

      &--lobby {
        --background-color-button: #{$white-20};
      }

      &--around {
        margin: 40px 168px 0 auto;
      }

      &--attraction {
        margin: 40px auto 0 168px;
      }
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;

      margin-bottom: 55px;
      margin-left: 193px;

      &--lobby {
        margin-left: 238px;
      }

      &--around {
        position: absolute;

        bottom: 80px;
        right: 80px;

        margin: 0;
      }

      &--attraction {
        position: absolute;

        bottom: 136px;
        left: 119px;

        margin: 0;
      }
    }
  }

  &__pagination {
    @extend .cosy__pagination;

    position: absolute;

    &.swiper-pagination {
      bottom: 39px;
    }

    @media screen and (min-width: $tablet) {
      &.swiper-pagination {
        bottom: 38px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
