.food {
  @extend %w100;

  &--about {
    --color-page: var(--white);
  }

  @media screen and (min-width: $tablet) {
    &--conference-service {
      position: relative;

      padding-top: 162px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 140px;

    overflow: visible;

    &--lobby {
      padding: 0;
    }

    &--about {
      --color-page: var(--light-yellow);

      padding: 0 0 137px;
    }

    &--conference-service {
      padding: 293px 0 234px;
    }
  }

  &__container {
    @media screen and (min-width: $tablet) {
      display: grid;

      grid-template-columns: 50% 50%;

      align-items: stretch;
    }
  }

  &__top {
    position: relative;

    @extend %w100;

    height: 100vw;

    overflow: visible;

    &--conference-service {
      height: calc((494 / 414)* 100vw);
    }

    @media screen and (min-width: $tablet) {
      height: auto;
      min-height: 478px;

      &--restaurant,
      &--about,
      &--conference-service {
        order: 2;
      }

      &--conference-service {
        position: static;

        min-height: 580px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;

      align-items: stretch;
      justify-content: flex-start;

      min-height: 840px;

      &--lobby {
        order: 2;
      }
    }
  }

  &__title {
    margin-top: 42px;

    &--mobile {
      position: absolute;

      z-index: 3;
    }

    &--desktop {
      display: none;
    }

    &--about {
      margin-top: 33px;
    }

    &--conference-service {
      bottom: 45px;
      left: 0;
    }

    @media screen and (min-width: $tablet) {
      width: fit-content;
      min-width: 538px;

      margin-top: 0;
      margin-right: calc((114px + 100%) - 538px);
      margin-bottom: 60px;
      margin-left: -114px;

      opacity: 0.8;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;

        margin-top: 0;
        margin-right: calc(100% - 538px);
        margin-bottom: 128px;
        margin-left: 0;
      }

      &--lobby {
        margin-right: calc((100% + 102px) - 538px);
        margin-bottom: 47px;
        margin-left: -102px;

        opacity: 0.6;
      }

      &--about {
        margin-bottom: 19px;

        opacity: 1;
      }

      &--conference-service {
        min-width: 688px;

        margin-right: calc(100% - 688px);
        margin-bottom: 35px;
        margin-left: 0;

        opacity: 0.6;
      }
    }

    @media screen and (min-width: $desktop) {
      min-width: 720px;

      margin-right: calc(100% - 720px);
      margin-bottom: 100px;
      margin-left: 0;

      opacity: 0.6;

      &--desktop {
        margin-right: calc(100% - 720px);
        margin-bottom: 100px;
      }

      &--lobby {
        min-width: 1018px;

        margin-right: calc(100% - 1018px);
        margin-bottom: 48px;
        margin-left: 0;

        opacity: 0.8;
      }

      &--about {
        margin-bottom: 89px;

        opacity: 1;
      }

      &--conference-service {
        min-width: 907px;

        margin-right: calc(100% - 907px);
        margin-bottom: 116px;
        margin-left: 0;
      }
    }
  }

  &__slider-container {
    position: relative;

    width: 100vw;

    margin: 0 calc((100% - 100vw) / 2);

    --before-linear-gradient-from: rgba(0, 0, 0, 0.2);
    --before-linear-gradient-to: rgba(0, 0, 0, 0.2);

    @include before-linear-gradient();

    @media screen and (min-width: $tablet) {
      width: 50vw;

      margin: 0 0 0 calc(100% - 50vw);

      &::before {
        display: none;
      }

      &--restaurant,
      &--about,
      &--conference-service {
        margin: 0 calc(100% - 50vw) 0 0;
      }

      &--conference-service {
        position: static;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;

      flex-direction: column;

      align-content: flex-start;
      justify-content: flex-start;

      width: calc(50vw - 105px);
      height: auto;
      min-height: 840px;

      margin: -14px calc(100% - 50vw) 0 105px;

      padding-top: 154px;
      padding-bottom: 129px;

      overflow: hidden;

      &--lobby {
        width: calc(50vw - 165px);

        margin: 0 calc(100% - 50vw) 0 165px;

        padding-bottom: 169px;
      }

      &--about {
        width: calc(50vw - 80px);

        margin-top: 0;
        margin-left: 80px;

        padding: 288px 0 0;
      }

      &--conference-service {
        width: calc(50vw - 72px);

        margin-top: 0;
        margin-left: 72px;

        padding: 288px 0 0;
      }
    }
  }

  &__slider {
    width: 100%;

    @media screen and (min-width: $tablet) {
      &--conference-service {
        position: static;
      }
    }

    @media screen and (min-width: $desktop) {
      width: 360px;
      height: 420px;

      margin: 0;

      overflow: visible;
    }
  }

  &__slide {
    box-sizing: border-box;

    @media screen and (min-width: $desktop) {
      &.swiper-slide-active {
        .food__img {
          transform-origin: left top;
          transform: translateY(0) scale(1);

          transition: transform 0.3s;
        }
      }

      &.swiper-slide-next {
        &~.swiper-slide {
          opacity: 0;

          pointer-events: none;
        }

        .food__img {
          transform-origin: left top;
          transform: translateY(-154px) scale(2);

          transition: transform 0.3s;
        }

        &.food__slide--about,
        &.food__slide--conference-service {
          .food__img {
            transform: translateY(-288px) scale(2);
          }
        }
      }
    }
  }

  &__picture {
    @extend %picture;
  }

  &__img {
    @extend %img;
  }

  &__bottom {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    @extend %w100;

    min-height: 100vw;

    padding: 40px 0;

    &--conference-service {
      min-height: calc(271 / 414 * 100vw);
    }

    @media screen and (min-width: $tablet) {
      position: relative;

      z-index: 1;

      height: auto;
      min-height: auto;

      padding: 54px 0 54px 37px;

      overflow: visible;

      &--restaurant,
      &--about,
      &--conference-service {
        order: 1;
      }

      &--restaurant {
        padding: 40px 0 38px 34px;
      }

      &--lobby {
        padding: 25px 0 38px 35px;
      }

      &--about {
        padding: 57px 36px 38px 0;
      }

      &--conference-service {
        padding: 0 40px 80px 0;
      }
    }

    @media screen and (min-width: $desktop) {
      padding: 165px 203px 129px 0;

      &--lobby {
        order: 1;
      }

      &--lobby {
        padding: 101px 88px 169px 0;
      }

      &--about {
        padding: 57px 90px 0 12px;
      }

      &--conference-service {
        padding: 51px 40px 80px 0;
      }
    }
  }

  &__content {
    flex-grow: 1;

    @extend %w100;
  }

  &__text {
    @extend %w100;

    color: var(--color-page, #ffffff);

    &--top {
      @include font(14, 21, 400);
    }

    &--bottom {
      margin-top: 20px;

      @include font(14, 20, 600);
    }

    @media screen and (min-width: $tablet) {
      &--top {
        @include font(12, 20, 400);
      }

      &--bottom {
        @include font(12, 20, 600);
      }
    }

    @media screen and (min-width: $desktop) {
      @include font(14, 20, 400);

      opacity: 0.6;

      &--bottom {
        margin-top: 36px;
      }
    }
  }

  &__tabs {
    display: grid;

    grid-template-areas: "a b c d"
      "e e e e";

    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px auto;

    justify-content: space-between;

    row-gap: 63px;

    @extend %w100;

    list-style: none;

    &--conference-service {
      row-gap: 40px;
    }

    @media screen and (min-width: $tablet) {
      row-gap: 116px;

      &--conference-service {
        row-gap: 65px;
      }
    }

    @media screen and (min-width: $desktop) {
      grid-template-areas: "a e"
        "b f"
        "c g"
        "d h";

      grid-template-columns: 48px auto;
      grid-template-rows: auto;

      align-items: center;

      gap: 41px 47px;

      &--conference-service {
        gap: 48px 47px;
      }
    }
  }

  &__tab-number {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    @include font(14, 17, 500);

    color: var(--color-page, #ffffff);

    background-color: transparent;

    border: 1px solid var(--color-page, #ffffff);

    border-radius: 50%;

    transition: background-color 0.3s;

    $areas: ('a', 'b', 'c', 'd');

    @for $i from 0 to length($areas) {
      &--#{$i+1} {
        grid-area: unquote(nth($areas, $i+1));
      }
    }

    &.active {
      background-color: $white-20;

      transition: background-color 0.3s;
    }

    @media screen and (min-width: $tablet) {
      &--conference-service {
        grid-area: a;

        display: none;

        &.active {
          display: flex;

          background-color: transparent;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      width: 48px;
      height: 48px;

      $areas: ('a', 'b', 'c', 'd');

      @for $i from 0 to length($areas) {
        &--#{$i+1} {
          grid-area: unquote(nth($areas, $i+1));
        }
      }

      &--conference-service {
        display: flex;

        &.active {
          background-color: $white-20;
        }
      }
    }
  }

  &__tab-text {
    grid-area: e;

    opacity: 0;

    transition: opacity 0.3s;

    &.active {
      opacity: 1;

      transition: opacity 0.3s;
    }

    @media screen and (min-width: $desktop) {
      opacity: 1;

      $areas: ('e', 'f', 'g', 'h');

      @for $i from 0 to length($areas) {
        &--#{$i+1} {
          grid-area: unquote(nth($areas, $i+1));
        }
      }

      p {
        opacity: 1;
      }
    }
  }

  &__buttons {
    @extend %w100;

    margin-top: 45px;

    @media screen and (min-width: $tablet) {
      margin-top: 71px;

      &--lobby {
        margin-top: 51px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;

      align-items: center;
      justify-content: space-between;

      margin-top: 123px;

      &--lobby {
        margin-top: 32px;
      }
    }
  }

  // &__worktime {}

  &__button {
    min-width: 100%;

    margin-top: 56px;

    @media screen and (min-width: $desktop) {
      min-width: calc(200 / 437 * 100%);

      margin-top: 0;

      &--lobby {
        --background-color-button: #{$white-20};
      }
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;

      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &__pagination {
    &--mobile {
      position: static;

      margin-top: 50px;
    }

    @media screen and (min-width: $tablet) {
      &--mobile {
        display: none;
      }

      &--tablet {
        &.swiper-pagination {
          left: auto;
          right: 0;

          margin-left: auto;
          margin-right: calc((100% - 50vw) / 2);
        }
      }

      &--conference-service {
        &.swiper-pagination {
          bottom: 40px;
          left: 0;

          width: 50vw;

          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
