.home {
  position: relative;

  @extend %w100;

  height: fit-content;

  &--smart {
    background-color: $dark-blue;
  }

  &--lobby {
    background-color: $gray;
  }

  &--conference {
    background-color: $beige;
  }

  &--group {
    background-color: $blue;
  }

  &--restaurant {
    background-color: $dark-green;
  }

  &--star {
    background-color: $starfit;
  }

  &--about {
    background-color: $green;
  }

  &__slider {
    @extend %w100;

    background-color: inherit;
  }

  &__slider-wrapper {
    background-color: inherit;
  }

  &__slide {
    display: flex;

    background-color: inherit;

    box-sizing: border-box;

    &.swiper-slide-active {
      z-index: 1;
    }

    @media screen and (min-width: $tablet) {
      min-height: calc(585 / 768 * 100vw);
    }

    @media screen and (min-width: $desktop) {
      min-height: calc(840 / 1440 * 100vw);

      &--star {
        min-height: calc(600 / 1440 * 100vw);
      }
    }
  }

  &__container {
    overflow: visible;

    @media screen and (min-width: $tablet) {
      display: grid;

      &--direct,
      &--reverse {
        grid-template-columns: 50% 50%;
      }

      &--horizontal {
        grid-template-columns: 100%;
        grid-template-rows: calc(384 / 768 * 100vw) auto;
      }
    }

    @media screen and (min-width: $desktop) {
      &--horizontal {
        grid-template-rows: calc(440 / 1440 * 100vw) calc(440 / 1440 * 100vw);
      }
    }
  }

  &__top {
    position: relative;

    width: auto;

    margin: 0;

    @media screen and (min-width: $tablet) {
      // &--direct {}

      &--reverse {
        order: 2;
      }
    }
  }

  &__img {
    position: relative;

    width: 100vw;

    margin: 0 calc((100% - 100vw) / 2);

    padding: 0;

    &::before {
      content: '';

      display: block;

      width: 100%;

      padding-bottom: 100%;
    }

    @media screen and (min-width: $tablet) {
      height: 100%;

      &::before {
        display: none;
      }

      &--direct,
      &--reverse {
        width: 50vw;
      }

      &--direct {
        margin: 0 0 0 calc(100% - 50vw);
      }

      &--reverse {
        margin: 0 calc(100% - 50vw) 0 0;
      }

      &--horizontal {
        width: 100vw;

        margin: 0 calc((100% - 100vw)/ 2);
      }
    }
  }

  &__picture {
    @extend %picture;
  }

  &__bottom {
    padding: 40px 0;

    @media screen and (min-width: $tablet) {
      display: flex;

      justify-content: flex-start;

      flex-direction: column;

      &--direct {
        align-items: flex-end;

        padding: 36px 0 36px 36px;
      }

      &--reverse {
        order: 1;

        align-items: flex-start;

        padding: 36px 36px 36px 0;
      }
    }

    @media screen and (min-width: $desktop) {
      &--direct {
        padding: 80px 0 80px 80px;
      }

      &--reverse {
        padding: 80px 80px 80px 0;
      }

      &--horizontal {
        padding: 80px 0;
      }

      &--lobby {
        padding-top: 198px;
      }

      &--restaurant {
        padding-top: 148px;
      }
    }
  }

  &__title {
    position: absolute;

    z-index: 3;

    width: fit-content;

    white-space: nowrap;

    &--tr {
      top: 0;
      right: 0;

      padding-top: 40px;

      text-align: right;
    }

    &--bl {
      bottom: 0;
      left: 0;

      padding-bottom: 40px;

      text-align: left;
    }

    &--desktop {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      &--desktop {

        &.home__title--direct,
        &.home__title--reverse {
          display: block;

          position: static;

          padding: 0;

          margin-bottom: 91.5px;

          text-align: left;
        }
      }

      &--mobile {
        &.home__title--horizontal {
          padding-bottom: 38px;
        }

        &.home__title--direct,
        &.home__title--reverse {
          display: none;
        }
      }

      &--lobby {
        br {
          display: none;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      min-width: 779px; //star-fit section

      &--desktop {
        margin-right: -60px;
        margin-bottom: 111px;
      }

      &--mobile {
        &.home__title--horizontal {
          padding-bottom: 0;

          &.home__title--lobby {
            margin-bottom: -90px;
          }

          &.home__title--restaurant {
            margin-bottom: -16px;
          }
        }
      }
    }
  }

  &__content {
    @extend %w100;

    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      flex-grow: 1;
    }

    @media screen and (min-width: $desktop) {

      &--direct,
      &--reverse {
        margin-bottom: 124px;
      }

      &--horizontal {
        max-width: calc(717 / (1440 - 160)) * 100%;

        align-self: flex-end;
      }
    }
  }

  &__text {
    @extend %w100;

    @include font(24, 29, 400);

    color: $white;

    &--top {
      margin-bottom: 24px;
    }

    &--bottom {
      font-weight: 700;

      text-transform: uppercase;
    }

    &--about {
      @include font(14, 21, 400);
    }

    @media screen and (min-width: $desktop) {
      &--about {
        margin-bottom: 45px;
      }
    }
  }

  &__buttons {
    @extend %dfacjsb;

    @extend %w100;

    @media screen and (min-width: $tablet) {
      &--end {
        justify-content: flex-end
      }

      &--start {
        justify-content: flex-start;
      }

      &--horizontal {
        width: auto;

        align-self: flex-end;
      }
    }

    @media screen and (min-width: $desktop) {
      &--horizontal {
        align-self: flex-start;
      }
    }
  }

  &__button {
    width: 100%;

    min-width: calc(155 / 334 * 100%);

    margin-left: calc(24 / 334 * 100%);

    &:first-of-type {
      margin-left: 0;
    }

    &--book-now {
      &.home__button--smart {
        display: none;
      }
    }

    @media screen and (min-width: $tablet) {
      min-width: 155px;

      margin-left: 24px;
    }

    @media screen and (min-width: $desktop) {
      width: auto;

      min-width: 200px;

      &--book-now {
        &.home__button--smart {
          display: flex;
        }
      }

      &--restaurant {
        min-width: 240px;
      }

      &--group {
        min-width: 269px;
      }
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;

      align-items: center;
      justify-content: space-between;

      width: 120px;

      margin-left: 48px;
    }
  }

  &__prev,
  &__next {
    position: static;

    width: 48px;
    height: 48px;

    margin: 0;
    padding: 5px;

    transform: none;

    &::before,
    &::after {
      display: none;
    }
  }

  &__worktime {
    margin-right: 24px;

    @media screen and (min-width: $desktop) {
      margin-right: 40px;
    }
  }

  &__pagination {
    position: static;

    @extend %w100;

    margin-bottom: 40px;

    .swiper-pagination-bullet {
      background-color: $white-40;

      &-active {
        background-color: $white-90;
      }
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
