.promo {
  position: relative;

  display: flex;

  align-items: stretch;
  justify-content: flex-start;

  @extend %w100;

  min-height: 100vh;

  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    min-height: 384px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 100vh;

    padding-bottom: 61px;
  }

  &__container {
    display: flex;

    align-items: flex-end;
    justify-content: flex-start;
  }

  &__social {
    display: none;

    @media screen and (min-width: $desktop) {
      position: relative;

      z-index: 4;

      display: block;
    }
  }

  &__img {
    @extend %img;
  }

  &__picture {
    @extend %picture;
  }
}
