.services {
  display: grid;

  grid-template-columns: repeat(auto-fit, calc(154 / 334 * 100%));
  grid-template-rows: auto;

  gap: 27px 5px;

  justify-content: space-between;

  @extend %w100;

  list-style: none;

  &--spa {
    row-gap: 16px;
  }

  @media screen and (min-width: $tablet) {
    &--spa {
      grid-template-columns: repeat(auto-fit, calc(151 / 310 * 100%));

      row-gap: 24px;
    }

    &--info {
      grid-template-columns: repeat(auto-fit, calc(151 / 696 * 100%));

      row-gap: 24px;
    }
  }

  @media screen and (min-width: $desktop) {
    &--cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &--spa {
      grid-template-columns: repeat(3, auto);

      column-gap: 56px;

      justify-content: flex-start;
    }

    &--rooms {
      grid-template-columns: repeat(3, auto);

      column-gap: 24px;

      justify-content: flex-start;
    }

    &--info {
      grid-template-columns: repeat(auto-fit, calc(142 / 300 * 100%));
    }
  }

  &__item {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    @media screen and (min-width: $desktop) {
      flex-direction: column;

      &--spa,
      &--rooms,
      &--info {
        flex-direction: row;
      }

      &--worktime {
        display: none;
      }
    }
  }

  &__icon {
    flex-shrink: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin-right: 16px;

    border: 1px solid var(--color-page, #ffffff);

    border-radius: 50%;

    overflow: hidden;

    svg {
      width: 100%;
      height: auto;

      fill: var(--color-page, #ffffff);
    }

    @media screen and (min-width: $desktop) {
      width: 48px;
      height: 48px;

      margin-right: 0;
      margin-bottom: 24px;

      &--spa,
      &--rooms,
      &--info {
        margin-right: 24px;
        margin-bottom: 0;
      }
    }
  }

  &__name {
    margin: 0;
    padding: 0;

    @include font(12, 18, 400);

    text-transform: lowercase;

    color: var(--color-page, #ffffff);
  }
}
