.social {
  display: flex;

  align-items: center;
  justify-content: start;

  width: fit-content;

  margin: 0;
  padding: 0;

  list-style: none;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--horizontal {
      &:not(:first-of-type) {
        margin-left: 18px;
      }
    }

    &--vertical {
      &:not(:first-of-type) {
        margin-top: 16px;
      }
    }
  }

  &__link {
    width: 48px;
    height: 48px;

    padding: 5px;

    font-size: rem(14);
    line-height: rem(17);

    color: var(--color-social, #ffffff);

    border-color: var(--color-social, #ffffff);

    svg {
      width: 16px;
      height: auto;

      fill: var(--color-social, #ffffff);
    }
  }

  @media screen and (min-width: $tablet) {
    &__link {
      svg {
        width: 24px;
      }
    }
  }
}
