-
  const rooms = {
    title: `
      smart-номери
    `,
    slides: [
      {
        image: 'room-1',
        title: 'standart twin',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        image: 'room-2',
        title: 'standart double',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        title: 'superior double',
        image: 'room-1',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        title: 'supeior twin',
        image: 'room-2',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        title: 'superior family',
        image: 'room-1',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        title: 'junior suite',
        image: 'room-2',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
      {
        title: 'Suite ',
        image: 'room-1',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем. ',

        button: {
          text: 'ДІЗНАТИСЬ БІЛЬШЕ',
          link: 'standart.html',
        }
      },
    ],
    sectionName: 'smart-rooms',
  };

+event(rooms)
