-
  const halls = {
    title: `
      конференц-залi
    `,
    subTitle: 'проведіть зустріч у',
    slides: [
      {
        image: 'hall-1',
        services: [
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit.',

        button: {
          text: 'забронювати',
          link: 'conference.html',
        }
      },
      {
        image: 'hall-2',
        services: [
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Nullam consequat lacus risus, non lobortis mi feugiat id. ',

        button: {
          text: 'забронювати',
          link: 'conference.html',
        }
      },
      {
        image: 'hall-1',
        services: [
          {
            icon: 'area',
            title: '18-25 кв.м',
          }
        ],
        text: 'Nullam consequat Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit.',

        button: {
          text: 'забронювати',
          link: 'conference.html',
        }
      },
    ],
    sectionName: 'halls',
  };

+event(halls)
