-
  const approach = {
    // кол-во images и tabs должно совпадать. max count 4
    images: ['approach-1', 'approach-2', 'approach-1', 'approach-2'],
    title: `Smart-підхід`,
    tabs: [
      {
        textTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        textBottom : '',
      },
      {
        textTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        textBottom : '',
      },
      {
        textTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        textBottom : '',
      },
      {
        textTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        textBottom : '',
      },
    ],
    sectionName: 'approach',
  };

+food(approach)
