-
  const promo = {
    title: `
      group <br />request
    `,
    image: 'promo-bg',
    content: {
      bottom: {},
      top: {
        text: `
          Заради наших гостей ми зробили колоборацію з рестораном Святослав.  Наші гості їможуть смачно поїсти а також забронювати ресторан для події.
        `,
      }
    }

  };

+promo(promo)
