- let sectionName = 'rooms';

+promo('rooms/promo-bg', sectionName, 'НОМЕРИ<br /> ТА <br />АПАРТА&shy;МЕНТИ')
  div(class="promo__top promo__top--" + sectionName)
    p(class="promo__text promo__text--" + sectionName)
      | Тепло, затишно, безпечно, комфортно. Ми можемо продовжувати цей список до безкінечності, але одна справа читати, а зовсім інша це відчути. Ми станемо вашим домом, а не просто готелем.  82 номера, 4 категорії, площа від 22 до 85 квадратних метрів, номери з 1,2,3 ліжками. Хочете з душем - це легко. Хочете з ванною - організуємо. Ми можемо майже все!

  div(class="promo__bottom promo__bottom--" + sectionName)
