-
  const rooms = [
    {
      title: `
        standart double
      `,
      image: 'room-1',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        standart twin
      `,
      image: 'room-2',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        superior double
      `,
      image: 'room-3',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        supeior twin
      `,
      image: 'room-4',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-2',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        superior family
      `,
      image: 'room-5',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        junior suite
      `,
      image: 'room-6',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
    {
      title: `
        Suite
      `,
      image: 'room-7',
      services: [
        {
          icon: 'guests',
          title: '2 гостей',
        },
        {
          icon: 'bed-big',
          title: 'велике ліжко',
        },
        {
          icon: 'area',
          title: '18-25 кв.м',
        },
      ],
      priceTitle: 'ціна від',
      priceNumber: 3100,
      book: {
        title: 'book now',
        linl: '#'
      },
      more: {
        title: 'дізнатись більше',
        linl: '#'
      },
    },
  ];

section.rooms
  if rooms.length > 0
    +slider('rooms')
      for room, index in rooms
        - const title = room.title ?? '';
        - const image = room.image ?? '';
        - const priceTitle = room.priceTitle ?? '';
        - const priceNumber = room.priceNumber ?? '';
        - const services = room.services ?? [];

        - const mode = ((index + 1) % 2 === 0) ? 'even' : 'odd';

        +slide('rooms')
          div.room
            div.room__container.container
              div.room__top
                h2(class="title-inner room__title room__title--" + mode)
                  | !{title}

                div(class="room__img-wrapper room__image-wrapper--" + mode)
                  +img('room', mode, image, title)

    +pagination('rooms')

