-
  slides = [
    {
      titlePosition: 'tr',
      title: `
        про нас
      `,
      contentTop: 'Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.',
      contentBottom: 'буде професiйно! буде smart!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
    {
      titlePosition: 'tr',
      title: `
        про нас
      `,
      content: `
        <p>Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.</p>
        contentTop: 'Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.',
      contentBottom: 'буде професiйно! буде smart!',
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
    {
      titlePosition: 'tr',
      title: `
        про нас
      `,
      content: `
        <p>Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.</p>
        contentTop: 'Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.',
      contentBottom: 'буде професiйно! буде smart!',
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
  ];

+home(slides, 'reverse', 'end', 0, 'about')
