-
  slides = [
    {
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
    {
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
    {
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',

      },
    },
  ];

+home(slides, 'reverse', 'start', 1, 'conference')
