-
  slides = [
    {
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',

      },
    },
    {
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',

      },
    },
    {
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',

      },
    },
  ];

+home(slides, 'direct', 'end', 0, 'group')
