-
  attr = {
    sectionName: 'group',
    title: `
      group
      <br />
      request
    `,
    contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
    contentBottom: 'БУДЕ SMART!',
    buttonsJustify: 'end',
    book: {
      title: 'GROUP BOOKING',
      link: '#',
    },
    more: {
      title: '',
      link: '',
    },
    navigation: 0,
    images: [
      'group', 'group'
    ],
    mode: 'direct',
  };

+home(attr)

