-
  attr = {
    sectionName: 'group',
    title: `
      group
      <br />
      request
    `,
    contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
    contentBottom: 'БУДЕ SMART!',
    buttonsJustify: 'end',
    book: {
      title: 'GROUP BOOKING',
      link: 'group.html',
    },
    more: {
      title: '',
      link: '',
    },
    image: 'group',
    mode: 'direct',
  };

+home(attr)

