-
  attr = {
    title: `
      conference
      <br />
      service
    `,
    contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
    contentBottom: 'БУДЕ SMART!',
    buttonsJustify: 'start',
    book: {
      title: '',
      link: '',
    },
    more: {
      title: 'ДІЗНАТИСЬ БІЛЬШЕ',
      link: 'conference-service.html',
    },
    image: 'conference',
    mode: 'reverse',
    sectionName: 'conference',
  };

+home(attr)
