-
  attr = {
    title: `
      restaurant
    `,
    contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
    contentBottom: 'БУДЕ СМАЧНО!',
    buttonsJustify: 'start',
    book: {
      title: 'забронювати',
      link: 'restaurant.html',
    },
    more: {
      title: '',
      link: '',
    },
    image: 'restaurant',
    mode: 'horizontal',
    worktime: '7:00 до 22:00.',
    sectionName: 'restaurant',
  };

+home(attr)


