-
  attr = {
    title: `
      про нас
    `,
    contentTop: 'Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.',
    contentBottom: 'буде професiйно! буде smart!',
    buttonsJustify: 'end',
    book: {
      title: '',
      link: '',
    },
    more: {
      title: 'ДІЗНАТИСЬ БІЛЬШЕ',
      link: 'about.html',
    },
    image: 'about',
    mode: 'reverse',
    sectionName: 'about',
  };

+home(attr)
