-
  slides = [
    {
      titlePosition: 'bl',
      title: `
        lobby <br />bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',

      },
      book: {
        title: 'RESERVE',
        link: '#',

      },
    },
    {
      titlePosition: 'bl',
      title: `
        lobby <br />bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',

      },
      book: {
        title: 'RESERVE',
        link: '#',

      },
    },
    {
      titlePosition: 'bl',
      title: `
        lobby <br />bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',

      },
      book: {
        title: 'RESERVE',
        link: '#',

      },
    },
  ];

+home(slides, 'horizontal', 'start', 0, 'lobby')
