-
  attr = {
    sectionName: 'lobby',
    title: `
      lobby <br />bar
    `,
    contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
    contentBottom: 'БУДЕ СМАЧНО!',
    buttonsJustify: 'start',
    //- book: {
    //-   title: 'RESERVE',
    //-   link: '#',
    //- },
    more: {
      title: 'ДІЗНАТИСЬ БІЛЬШЕ',
      link: 'lobby.html',
    },
    image: 'lobby',
    mode: 'horizontal',
  };

+home(attr)

