-
  attr = {
    sectionName: 'lobby',
    title: `
      lobby <br />bar
    `,
    contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
    contentBottom: 'БУДЕ СМАЧНО!',
    buttonsJustify: 'start',
    book: {
      title: 'RESERVE',
      link: '#',
    },
    more: {
      title: 'MENU',
      link: '#',
    },
    navigation: 0,
    images: [
      'lobby', 'lobby'
    ],
    mode: 'horizontal',
  };

+home(attr)

