-
  const promo = {
    image: 'promo-bg',
    book: {
      title: 'BOOK NOW',
      link: '#'
    },
    offer: {
      title: 'SPECIAL OFFER',
      link: '#'
    },
    content: {},
  };

+promo(promo)

