-
  attr = {
    sectionName: 'smart',
    title: `
      smart
      <br />
      номера
    `,
    contentTop: 'ЩОБ ВИ ГАРНО ВИСПАЛИСЬ',
    contentBottom: 'БУДЕ ТЕПЛО!',
    buttonsJustify: 'end',
    book: {
      title: 'BOOK NOW',
      link: '#',
    },
    more: {
      title: 'ДІЗНАТИСЬ БІЛЬШЕ',
      link: 'smart.html',
    },
    image: 'smart',
    mode: 'direct',
  };

+home(attr)

