-
  attr = {
    sectionName: 'starfit',
    title: `
      star fit
    `,
    contentTop: 'ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ',
    contentBottom: 'БУДЕ СПА!  БУДЕ СПОРТ!',
    buttonsJustify: 'end',
    book: {
      title: '',
      link: '',
    },
    more: {
      title: 'ДІЗНАТИСЬ БІЛЬШЕ',
      link: '#',
    },
    navigation: 0,
    images: [
      'starfit', 'starfit', 'starfit'
    ],
    mode: 'direct',
  };

+home(attr)


