-
  const saunas = {
    title: `
      сауни
    `,
    slides: [
      {
        image: 'slide-2',
        title: 'Інфрачервона сауна',
        topText: 'Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit.',
        worktime: '7:00 - 22:00',
        button: {
          text: 'правила відвідування',
          link: '#',
        }
      },
      {
        image: 'slide-3',
        title: 'Фінська сауна',
        topText: 'Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit.',
        services: [
          {
            icon: 'temperature',
            title: '30 – 40 °C',
          },
          {
            icon: 'humidity',
            title: '26 %',
          },
        ]
      },
    ],
  };

+event(saunas)
