-
  const gym = {
    title: `
      ТРЕНАЖЕРНИЙ ЗАЛ
    `,
    description: `
      Найкраще розпочинати або завершувати день у тренажерному залі. Сучасне обладнання підходить як для новачків, так і для професійних спортсменів. Просторий зал, роздягальня та душ зроблять відвідування залу ще приємнішим. Спортзал працює щодня з 7:00 до 22:00.
    `,
    worktime: '7:00 - 22:00',
    rules: {
      text: 'правила відвідування',
      link: '#'
    },
    images: [
      'slide-3', 'slide-2', 'slide-1'
    ],
    sectionName: 'gym',
  };

+gym(gym)

