- let sectionName = 'starfit';

+promo('promo-bg', sectionName, 'Спортивний <br />комплекс <br />Starfit')
  div(class="promo__top promo__top--" + sectionName)
    p(class="promo__text promo__text--" + sectionName)
      | Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit.
      br
      | Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни

  div(class="promo__bottom promo__bottom--" + sectionName)
