-
  const promo = {
    title: `
      Спортивний <br />комплекс <br />Starfit
    `,
    image: 'promo-bg',
    content: {
      bottom: {},
      top: {
        text: `
          Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit.
          <br />
          Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни
        `,
      }
    }

  };

+promo(promo)
