-
  const foodAttr = {
    // кол-во foodImages и foodTabs должно совпадать. max count 4
    foodImages: ['food-1', 'food-2', 'cosy-1', 'food-1'],
    foodTitle: `переваги`,
    foodTabs: [
      {
        foodTextTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        foodTextBottom : 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
      },
      {
        foodTextTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        foodTextBottom : '',
      },
      {
        foodTextTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        foodTextBottom : '',
      },
      {
        foodTextTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        foodTextBottom : 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
      },
    ],
  };

+food(foodAttr)
