- let sectionName = 'about';
+promo('about/promo-bg', sectionName, 'про нас')
  div(class="promo__top promo__top--" + sectionName)
    p(class="promo__text promo__text--" + sectionName)
      | Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. Nunc velit dui, tristique sed enim nec, fringilla interdum eros.

  div(class="promo__bottom promo__bottom--" + sectionName)
    a(class="promo__btn button button--white button--promo promo__btn--" + sectionName href="tel:111111111")
      | CALL US
