-
  attr = {
    sectionName: 'why',
    title: `
      чому
      <br />
      SMART?
    `,
    contentTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
    contentBottom: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',

    book: {
      title: '',
      link: '',
    },
    more: {
      title: '',
      link: '',
    },
    image: 'why',
  };

+home(attr)
