-
  const coffee = {
    titleSmall: `
      варіанти харчування, які ми організуємо під ваші потреби
    `,
    slides: [
      {
        image: 'coffee-1',
        titleImage: 'каво-перерви',
        list: 'Варіантів 10+\r\nМінімальна кількість 10\r\nМаксимальна кількість 20\r\nПрефакшн зона',
        priceTitle: 'від',
        priceNumber: 90,
        button: {
          text: 'МЕНЮ',
          link: '#',
        }
      },
      {
        image: 'coffee-2',
        titleImage: 'комплексні обіди',
        list: 'Варіантів 10+\r\nМінімальна кількість 10\r\nМаксимальна кількість 20\r\nПрефакшн зона',
        priceTitle: 'від',
        priceNumber: 90,
        button: {
          text: 'МЕНЮ',
          link: '#',
        }
      },
      {
        image: 'coffee-2',
        titleImage: 'каво-перерви',
        list: 'Варіантів 10+\r\nМінімальна кількість 10\r\nМаксимальна кількість 20\r\nПрефакшн зона\r\nМінімальна кількість 10',
        priceTitle: 'від',
        priceNumber: 90,
        button: {
          text: 'МЕНЮ',
          link: '#',
        }
      },
      {
        image: 'coffee-1',
        titleImage: 'каво-перерви',
        list: 'Варіантів 10+\r\nМінімальна кількість 10\r\nМаксимальна кількість 20\r\nПрефакшн зона',
        priceTitle: 'від',
        priceNumber: 90,
        button: {
          text: 'МЕНЮ',
          link: '#',
        }
      },
    ],
    sectionName: 'coffee',
  };

+event(coffee)
