-
  const why = {
    // кол-во images и tabs должно совпадать. max count 1-5
    images: ['why-1', 'why-1', 'why-1', 'why-1', 'why-1'],
    title: `чому <br />ми?`,
    tabs: [
      {
        textTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        textBottom : '',
      },
      {
        textTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
        textBottom : '',
      },
      {
        textTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        textBottom : '',
      },
      {
        textTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        textBottom : '',
      },
      {
        textTop: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        textBottom : '',
      },
    ],
    more: {
      title: 'VIEW MORE',
      link: '/about.html'
    },
    sectionName: 'why-conference',
  };

+food(why)
