-
  const info = {
    image: 'info',
    services: [
      {
        icon: 'guests',
        title: 'ДО 200 гостей',
      },
      {
        icon: 'area',
        title: '250 кв.м',
      },
    ],
    text: `
      Сучасний компактний номер, який ідеально підходить для розміщення 1-2 гостей, які зупиняються на період 1-2 ночі і не планують багато часу проводити в номері. Зазвичай цей номер обирають наші корпоративні партнери для відряджень або групових поселень.
    `,
    book: {
      title: 'book now',
      link: '#'
    },
    sectionName: 'conference-info',
  };

+info(info)


