- let sectionName = 'conference';

+promo('conference/promo-bg', sectionName, 'smart <br />конференц-<br />зал')
  div(class="promo__top promo__top--" + sectionName)
    p(class="promo__text promo__text--" + sectionName)
      | Заради наших гостей ми зробили колоборацію з рестораном Святослав.  Наші гості їможуть смачно поїсти а також забронювати ресторан для події.

  div(class="promo__bottom promo__bottom--" + sectionName)
