-
  const banquet = {
    title: `
      банкетний
      <br />
      зал
    `,
    images: ['banquet-1', 'banquet-1', 'banquet-1'],
  };
section.banquet
  div.banquet__container.container
    h2.title-inner.banquet__title
      | !{banquet.title}

    if banquet.images.length > 0
      +slider('banquet')
        each image in banquet.images
          +slide('banquet')
            +img('banquet', '', image, banquet.title)

      div.banquet__pagination.pagination.swiper-pagination
