-
  const cosy = {
    title: `затишно`,
    images: ['cosy-1', 'cosy-1', 'cosy-1'],
    textTop: `
      Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни
    `,
    textBottom: `
      Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.
    `,
  };
section.cosy
  div.cosy__container.container
    div.cosy__top
      h2.title-inner.cosy__title.cosy__title--mobile
        | !{cosy.title}

      if cosy.images.length > 0
        +slider('cosy')
          each image in cosy.images
            +slide('cosy')
              +img('cosy', '', image, cosy.title)

        +pagination('cosy')

    div.cosy__bottom
      h2.title-inner.cosy__title.cosy__title--desktop
        | !{cosy.title}

      div.cosy__content
        p.cosy__text.cosy__text--top
          | !{cosy.textTop}
        p.cosy__text.cosy__text--bottom
          | !{cosy.textBottom}

      +navigation('cosy')
