-
  const event = {
    title: `
      проведіть
      <br />
      захід
    `,
    slides: [
      {
        image: 'event-1',
        title: 'ВЕСІЛЛЯ',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
      {
        image:  'food-1',
        title: 'бенкет',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: '',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
      {
        image: 'food-2',
        title: 'корпоратив',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
    ],
    sectionName: 'event',
  };

+event(event)
