-
  const event = {
    title: `
      проведіть
      <br />
      захід
    `,
    images: ['event-1', 'food-1', 'food-2'],
    texts: [
      {
        title: 'ВЕСІЛЛЯ',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
      {
        title: 'бенкет',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: '',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
      {
        title: 'корпоратив',
        topText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        bottomText: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни',
        button: {
          text: 'ЗАБРОНЮВАТИ',
          link: '#',
        }
      },
    ],
  };

+event(event)
