-
  const promo = {
    title: `
      ресторан <br> Святослав
    `,
    image: 'promo-bg',
    content: {
      bottom: {
        worktime: '7:00 до 22:00.',
        book: {
          title: 'забронювати',
          link: '#'
        },
      },
      top: {
        text: `
          Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. Nunc velit dui, tristique sed enim nec, fringilla interdum eros.
        `,
      }
    }

  };

+promo(promo)

