-
  const promo = {
    title: `
      smart <br />пропо&shy;зиції
    `,
    image: 'promo-bg',
    book: {
      title: 'BOOK NOW',
      link: '#'
    },
    offer: {
      title: 'SPECIAL OFFER',
      link: '#'
    },
    content: {}
  };

+promo(promo)
