-
  slides = [
    {
      sectionName: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      contentTop: 'ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.',
      contentBottom: 'БУДЕ SMART!',
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#',
        hideMobile: 0
      },
    },
  ];

+home(slides, blue, 'direct', 'end')
