-
  slides = [
    {
      sectionName: 'lobby',
      titlePosition: 'bl',
      title: `
        lobby bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',
        hideMobile: 0
      },
      book: {
        title: 'RESERVE',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'lobby',
      titlePosition: 'bl',
      title: `
        lobby bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',
        hideMobile: 0
      },
      book: {
        title: 'RESERVE',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'lobby',
      titlePosition: 'bl',
      title: `
        lobby bar
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      more: {
        title: 'MENU',
        link: '#',
        hideMobile: 0
      },
      book: {
        title: 'RESERVE',
        link: '#',
        hideMobile: 0
      },
    },
  ];

+home(slides, gray, 'horizontal', 'start')
