-
  slides = [
    {
      sectionName: 'restaurant',
      titlePosition: 'bl',
      title: `
        restaurant
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      //- more: {
      //-   title: 'MENU',
      //-   link: '#',
      //-   hideMobile: 0
      //- },
      book: {
        title: 'забронювати',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'restaurant',
      titlePosition: 'bl',
      title: `
        restaurant
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      //- more: {
      //-   title: 'MENU',
      //-   link: '#',
      //-   hideMobile: 0
      //- },
      book: {
        title: 'забронювати',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'restaurant',
      titlePosition: 'bl',
      title: `
        restaurant
      `,
      contentTop: 'ЩОБ ВИ ГАРНО ПРОВОДИЛИ ВІЛЬНИЙ ЧАС.',
      contentBottom: 'БУДЕ СМАЧНО!',
      //- more: {
      //-   title: 'MENU',
      //-   link: '#',
      //-   hideMobile: 0
      //- },
      book: {
        title: 'забронювати',
        link: '#',
        hideMobile: 0
      },
    },
  ];

+home(slides, gray, 'horizontal', 'start')
  div.home__worktime
    div.home__clock
      svg(width="24" height="24")
        use(xlink:href="img/sprites/sprite-mono.svg#icon-clock")

    span 7:00 до 22:00.
