-
  slides = [
    {
      sectionName: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      contentTop: 'ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ',
      contentBottom: 'БУДЕ СПА!  БУДЕ СПОРТ!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      contentTop: 'ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ',
      contentBottom: 'БУДЕ СПА!  БУДЕ СПОРТ!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',
        hideMobile: 0
      },
    },
    {
      sectionName: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      contentTop: 'ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ',
      contentBottom: 'БУДЕ СПА!  БУДЕ СПОРТ!',
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#',
        hideMobile: 0
      },
    },
  ];

+home(slides, starfit, 'direct', 'end')
