section(class="contacts contacts--" + pageName id="contacts")
  div(class="container contacts__container contacts__container--" + pageName)
    div(class="contacts__left")
      h2.contacts__title.contacts__title--mobile(class="" + ("contacts__title--" + pageName + " ") + (pageName === "home" ? "title" : "title-inner"))
        | contacts
      div(class="contacts__map" id="map")

    div(class="contacts__content contacts__content--" + pageName)
      h2.contacts__title.contacts__title--desktop(class="" + ("contacts__title--" + pageName + " ") + (pageName === "home" ? "title" : "title-inner"))
        | contacts

      address(class="contacts__address contacts__address--" + pageName)
        ul(class="contacts__list contacts__list--" + pageName)
          li(class="contacts__item contacts__item--" + pageName)
            h4(class="contacts__subtitle contacts__subtitle--" + pageName)
              | Адреса

            p(class="contacts__text contacts__text--" + pageName)
              | 79495 вул. Івана Франка, 53б, Винники, Львівська область

          li(class="contacts__item contacts__item--" + pageName)
            h4(class="contacts__subtitle contacts__subtitle--" + pageName)
              | Продажі

            a(class="contacts__link contacts__link--" + pageName href="mailto:sales@city-inn.com.ua")
              | sales@city-inn.com.ua
            a(class="contacts__link contacts__link--" + pageName href="tel:+380322471551")
              |  + 38 (032) 247-15-51

          li(class="contacts__item contacts__item--" + pageName)
            h4(class="contacts__subtitle contacts__subtitle--" + pageName)
              | Бронювання

            a(class="contacts__link contacts__link--" + pageName href="mailto:reservation@city-inn.com.ua")
              | reservation@city-inn.com.ua
            a(class="contacts__link contacts__link--" + pageName href="tel:+380322471551")
              |  + 38 (032) 247-15-51


          li(class="contacts__item contacts__item--" + pageName)
            h4(class="contacts__subtitle contacts__subtitle--" + pageName)
              | Рецепція

            a(class="contacts__link contacts__link--" + pageName href="mailto:reservation@city-inn.com.ua")
              | reservation@city-inn.com.ua
            a(class="contacts__link contacts__link--" + pageName href="tel:+380322471551")
              |  + 38 (032) 247-15-51

      a(class="contacts__button button contacts__button--" + pageName href="#")
        span BOOK NOW

