div(class="menu")
  div(class="menu__container container")
    div(class="menu__nav")
      include nav.pug

    div(class="menu__bottom")
      div(class="menu__social")
        - social = ['map-pin', 'instagram', 'facebook'];
        - socialDirection = 'horizontal';
        include social.pug

      div(class="menu__call call")
        a(class="call__link" href="tel:+380322471551" data-text="Call us" data-phone="+38 032 247 15 51")
          span(class="call__text")
            | Call us

          span(class="call__icon")
            svg(width="48" height="48")
              use(xlink:href="img/sprites/sprite-mono.svg#icon-phone")

  div(class="menu__img")
    - let show = '';
      each navItemHeader, index in navHeader
        if index === 0
          - show = 'active';
        else
          - show = '';

        picture(class="menu__picture __js " + show)
          if navItemHeader.images && navItemHeader.images.webp && navItemHeader.images.webp.desktop && navItemHeader.images.webp.mobile
            source(media="(min-width: 768px)" type="image/webp" srcset="" + navItemHeader.images.webp.desktop)
            source(media="(min-width: 100px)" type="image/webp" srcset="" + navItemHeader.images.webp.mobile)
          else if navItemHeader.images && navItemHeader.images.webp && navItemHeader.images.webp.desktop
            source(type="image/webp" srcset="" + navItemHeader.images.webp.desktop)

          if navItemHeader.images && navItemHeader.images.jpg && navItemHeader.images.jpg.desktop && navItemHeader.images.jpg.mobile
            source(media="(min-width: 768px)" srcset="" + navItemHeader.images.jpg.desktop)

            img(src="" + navItemHeader.images.jpg.mobile alt="" + navItemHeader.title)
          else if navItemHeader.images && navItemHeader.images.jpg && navItemHeader.images.jpg.desktop
            img(src="" + navItemHeader.images.jpg.desktop alt="" + navItemHeader.title)


