-
  slides = [
    {
      image: 'about',
      titlePosition: 'tr',
      title: `
        про нас
      `,
      content: `
        <p>Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом.</p>
        <p><strong>буде професiйно! буде smart!</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'about',
      titlePosition: 'tr',
      title: `
        про нас
      `,
      content: `
        <p>Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом. 2</p>
        <p><strong>буде професiйно! буде smart! 2</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'about',
      titlePosition: 'tr',
      title: `
        про нас
      `,
      content: `
        <p>Ми створили для вас концепцію SMART готель , щоб все було розумно і швидко, але обов’язково з високим сервісом. 3</p>
        <p><strong>буде професiйно! буде smart! 3</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
  ];

+vertical(slides, green, 'reverse')
