-
  slides = [
    {
      image: 'conference',
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.</p>
        <p><strong>БУДЕ SMART!</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'conference',
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД. 2</p>
        <p><strong>БУДЕ SMART! 2</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'conference',
      titlePosition: 'tr',
      title: `
        conference
        <br />
        service
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД. 3</p>
        <p><strong>БУДЕ SMART! 3</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
  ];

+vertical(slides, beige, 'reverse')
