-
  slides = [
    {
      image: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД.</p>
        <p><strong>БУДЕ SMART!</strong></p>
      `,
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#'
      },
    },
    {
      image: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД. 2</p>
        <p><strong>БУДЕ SMART! 2</strong></p>
      `,
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#'
      },
    },
    {
      image: 'group',
      titlePosition: 'bl',
      title: `
        group
        <br />
        request
      `,
      content: `
        <p>ЩОБ ВИ ПРОВЕЛИ ГАРНИЙ ЗАХІД. 3</p>
        <p><strong>БУДЕ SMART! 3</strong></p>
      `,
      //more: '#',
      book: {
        title: 'GROUP BOOKING',
        link: '#'
      },
    },
  ];

+vertical(slides, blue, 'direct')
