-
  slides = [
    {
      image: 'smart',
      titlePosition: 'tr',
      title: `
        smart
        <br />
        номера
      `,
      content: `
        <p>ЩОБ ВИ ГАРНО ВИСПАЛИСЬ</p>
        <p><strong>БУДЕ ТЕПЛО!</strong></p>
      `,
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
      book: {
        title: 'BOOK NOW',
        link: '#'
      },
    },
    {
      image: 'smart',
      titlePosition: 'tr',
      title: `
        smart
        <br />
        номера
      `,
      content: `
        <p>ЩОБ ВИ ГАРНО ВИСПАЛИСЬ 2</p>
        <p><strong>БУДЕ ТЕПЛО! 2</strong></p>
      `,
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
      book: {
        title: 'BOOK NOW',
        link: '#'
      },
    },
    {
      image: 'smart',
      titlePosition: 'tr',
      title: `
        smart
        <br />
        номера
      `,
      content: `
        <p>ЩОБ ВИ ГАРНО ВИСПАЛИСЬ 3</p>
        <p><strong>БУДЕ ТЕПЛО! 3</strong></p>
      `,
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
      book: {
        title: 'BOOK NOW',
        link: '#'
      },
    },
  ];

+vertical(slides, darkBlue, 'direct')
