-
  slides = [
    {
      image: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      content: `
        <p>ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ</p>
        <p><strong>БУДЕ СПА!  БУДЕ СПОРТ!</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      content: `
        <p>ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ 2</p>
        <p><strong>БУДЕ СПА!  БУДЕ СПОРТ! 2</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
    {
      image: 'star',
      titlePosition: 'bl',
      title: `
        star fit
      `,
      content: `
        <p>ЩОБ ВИ  ВІДВОЛІКЛИСЬ ТА ПЕРЕЗАВАНТАЖИЛИСЬ 3</p>
        <p><strong>БУДЕ СПА!  БУДЕ СПОРТ! 3</strong></p>
      `,
      //book: '#',
      more: {
        title: 'ДІЗНАТИСЬ БІЛЬШЕ',
        link: '#'
      },
    },
  ];

+vertical(slides, starfit, 'direct')
