mixin pagination(sectonName = 'home',  modificator = pageName)
  - const classes = sectonName + '__pagination pagination swiper-pagination ' + sectonName + '__pagination--' + modificator
  div(class="" + classes)
