mixin promo(imageName, sectionName = '', title = '', social = [])
  section(class="promo promo--" + sectionName)
    if title === ''
      h1.visually-hidden
        | !{titlePage}

    div(class="promo__img-wrapper promo__img-wrapper--" + sectionName)
      div(class="promo__container promo__container--image container")
        if title !== 'Promo section'
          h1(class="promo__title promo__title--" + sectionName)
            | !{title}

        if social.length > 0
          div(class="promo__social promo__social--" + sectionName)
            include ../blocks/social.pug

        if sectionName === 'home' || sectionName === 'smart'
          div(class="promo__buttons")
            a(class="promo__button button button--big button--smart" href="#")
              span smart пропозиції

            a(class="promo__button button button--big button--book-now" href="#")
              span book now

      +img('promo', sectionName, imageName, title)

    if block
      div(class="promo__container promo__container--content container")
        div(class="promo__content promo__content--" + sectionName)
          block
