mixin services(sectionName = 'cards', modificator = '', services = [])
  - modificator = modificator === '' ? pageName : modificator;

  ul(class="" + sectionName + "__services services services--" + modificator)
    for service in services
      +service(service, modificator)
