mixin service(service = {}, sectionModification = '', additionalClass = '')
  - sectionModification = (sectionModification === '') ? pageName : sectionModification;

  li(class="services__item services__item--" + sectionModification + " " + additionalClass)
    div(class="services__icon services__icon--" + sectionModification)
      svg(width="40" height="40")
        use(xlink:href="img/sprites/sprite-mono.svg#icon-" + service.icon)

    h5(class="services__name services__name--" + sectionModification)
      | #{service.title}
