mixin services(sectionClass = 'cards', sectionModification = '', services = [], additionalListModificator = null, additionalItem = {})
  - sectionModification = (sectionModification === '') ? pageName : sectionModification;
  - additionalListModificator = additionalListModificator ? (' ' + sectionClass + '__services--' + additionalListModificator + ' ') : '';

  ul(class="" + sectionClass + "__services " + sectionClass + "__services--" + sectionModification + additionalListModificator + " services services--" + sectionModification)
    for service in services
      +service(service, sectionModification)

    if additionalItem.worktime
      li.services__item.services__item--worktime
        +worktime('spa', 'tablet', additionalItem.worktime)
