mixin services(sectionName = 'cards', modificator = pageName, services = [])
  ul(class="" + sectionName + "__services services services--" + modificator)
    for service in services
      li(class="services__item services__item--" + modificator)
        div(class="services__icon services__icon--" + modificator)
          svg(width="40" height="40")
            use(xlink:href="img/sprites/sprite-mono.svg#icon-" + service.icon)

        h5.services__name
          | #{service.title}
