mixin slide(sectionName = 'home', sectionModificator = '')
  - const additionalClassesSwiperSlide = sectionName + '__slide ' + sectionName + '__slide--' + pageName + ' ' + ((sectionModificator !== '') ? (sectionName + '__slide--' + sectionModificator) : '');

  div(class="swiper-slide " + additionalClassesSwiperSlide)
    if block
      block
    else
      | Empty slide
