mixin slide(sectionName = 'home', sectionModificator = pageName, typeContent = '')
  - const additionalClassesSwiperSlide = sectionName + '__slide ' + ((typeContent !== '') ? (sectionName + '__slide--' + typeContent) : '') + ' ' + ((sectionModificator !== '') ? (sectionName + '__slide--' + sectionModificator) : '');

  div(class="swiper-slide " + additionalClassesSwiperSlide)
    if block
      block
    else
      | Empty slide
