mixin slider(sectionName = 'home', type = '', sectionModificator = pageName)
  - const additionalClassesSwiper = sectionName + '__slider ' + ((type !== '') ? (sectionName + '__slider--' + type ) : '') + ' ' + sectionName + '__slider--' + sectionModificator;
  - const additionalClassesSwiperWrapper = sectionName + '__slider-wrapper ' + ((type !== '') ? (sectionName + '__slider-wrapper--' + type) : '');
  - const additionalClassesSwiperSlide = sectionName + '__slide ' + ((type !== '') ? (sectionName + '__slide--' + type) : '');

  div(class="swiper " +  additionalClassesSwiper)
    div(class="swiper-wrapper " + additionalClassesSwiperWrapper)
      if block
        block
      else
        div(class="swiper-slide " + additionalClassesSwiperSlide)
          | Empty slide
