-
  const doings = {
    title: `
      події
    `,
    slides: [
      {
        image: {
          webp: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
          jpg: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
        },
        title: `кино`,
        text: `Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. Nunc velit dui, tristique sed enim nec, fringilla interdum eros. In hac habitasse platea dictumst. Nunc convallis felis ac fermentum volutpat. Phasellus at scelerisque est. In sit amet pulvinar mi. Pellentesque ut condimentum ante, et gravida mi. In erat felis, laoreet nec porta eu, vehicula nec diam. `,
      },
      {
        image: {
          webp: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
          jpg: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
        },
        title: `гастро-вечера`,
        text: `Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. `,
      },
      {
        image: {
          webp: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
          jpg: {
            mobile: 'doings-1',
            tablet: 'doings-1',
            desktop: 'doings-1',
          },
        },
        title: `кино-вечера`,
        text: `
          Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat.
          <br />
          Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat.
        `,
      },
    ],
    sectionName: 'doings',
  };

section(class="doings")
  h2(class="title-inner doings__title")
    | !{doings.title}

  if doings.slides && doings.slides.length > 0
    div(class="doings__slider-container")
      +slider('doings', '')
        each slide in doings.slides
          +slide('doings', '')
            - const image = slide.image ?? {};
            - const subTitle = slide.title ?? '';
            - const text = slide.text ?? '';

            div.doings__top
              +img('doings', pageName, image.jpg.mobile, subTitle)

            div.doings__bottom
              if subTitle && subTitle !== ''
                h3.doings__subtitle
                  | !{subTitle}

              if text && text !== ''
                p.doings__text
                  | !{text}

      +navigation('doings')

      +pagination('doings')
