-
  const breakfast = {
    images: ['food-1', 'food-2', 'cosy-1'],
    title: `про <br /> завтраки`,
    textTop: 'Заради наших гостей ми зробили колоборацію з комплексом для відпочинку Starfit. Наші гості можуть компліментарно користуватись усією інфраструктурою: басейн, тренажерний зал, сауни ',
    textBottom : 'Є один нюанс, що потрібно вийти з готелю і пройти 20 метрів до входу, але після цього ви поринете в світ релаксу, відпочинку та відновлення.',
    menu: {
      text: 'Menu',
      link: '#'
    },
  };

+food(breakfast)
