- let sectionName = 'lobby';
+promo('lobby/promo-bg', sectionName, 'lobby <br>bar')
  div(class="promo__top promo__top--" + sectionName)
    h3(class="promo__subtitle promo__subtitle--" + sectionName)
      | Про место и миссию

    p(class="promo__text promo__text--" + sectionName)
      | Nullam consequat lacus risus, non lobortis mi feugiat id. Praesent a odio semper, pulvinar ex ac, ullamcorper erat. Phasellus porta euismod massa sit amet hendrerit. Nunc velit dui, tristique sed enim nec, fringilla interdum eros.

  div(class="promo__bottom promo__bottom--" + sectionName)
    a(class="button promo__btn promo__btn--" + sectionName href="#")
      span RESERVE TABLE
