$white: #FFFFFF;
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);

$dark-blue: #2A394D;

$yellow: #FF9606;
$yellow-70: rgba(255, 150, 6, 0.7);
$dark-yellow: #D78C4E;

$gray: #363530;
$dark-gray: #252521;

$green: #858569;
$dark-green: #1E2927;
$light-green: #DEE4D1;

// $black-20: rgba(0, 0, 0, 0.2);

/* Media */
$desktop: 1440px;
$tablet: 768px;
$mobile: 414px;
$small-mobile: 350px;

/* Computed padding container*/
$size-desktop: 1440px;
$size-tablet: 768px;
$size-mobile: 414px;

$padding-desktop: 80px;
$padding-tablet: 40px;
$padding-mobile: 40px;
$padding-mobile-small: 15px;
